<!doctype html>

<html lang="en-US">


<head>
    <!-- META TAGS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社区交流-面试官</title>
    <link rel="stylesheet" href="style.css" />
    <link rel='stylesheet' id='bootstrap-css-css' href='static/shequ/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css-css' href='static/shequ/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='pretty-photo-css-css' href='static/shequ/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='main-css-css' href='static/shequ/css/main5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css-css' href='static/shequ/css/custom5152.html?ver=1.0' type='text/css' media='all' />
    <link rel="stylesheet" type="text/css" href="static/CSS/nav.css">


</head>

<body>
   
    <!-- End of Header -->

       {{template "little-nav.html" .}}
    <div class="page-container">
        <div class="container">
            <div class="row">

                <!-- start of page content -->
                <div class="span8 page-content">

                    <!-- Basic Home Page Template -->
                    <div class="row separator">
                        <section class="span4 articles-list">
                            <h3>精选文章</h3>
                            <ul class="articles">
                                <li class="article-entry standard">
                                    <h4><a href="/single">2017秋季校园招聘笔经面经汇总</a></h4>
                                    <span class="article-meta">2017-05-5 发表在 <a href="#" title="View all posts in Server &amp; Database">资源分享</a></span>
                                    <span class="like-count">66</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">从春招到秋招，一个本科生的求职之路</a></h4>
                                    <span class="article-meta">2017-05-4 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                    <span class="like-count">15</span>
                                </li>
                                <li class="article-entry video">
                                    <h4><a href="single.html">谷歌微软实习面经</a></h4>
                                    <span class="article-meta">2017-04-23 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                    <span class="like-count">8</span>
                                </li>
                                <li class="article-entry image">
                                    <h4><a href="single.html">腾讯前端面经</a></h4>
                                    <span class="article-meta">2017-04-4 发表在 <a href="#" title="View all posts in Advanced Techniques">资源分享</a></span>
                                    <span class="like-count">6</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">阿里暑假实习面经</a></h4>
                                    <span class="article-meta">2017-03-12 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                    <span class="like-count">2</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">前端的学习之路</a></h4>
                                    <span class="article-meta">2016-02-13 发表在 <a href="#" title="View all posts in Website Dev">技术交流</a></span>
                                    <span class="like-count">3</span>
                                </li>
                            </ul>
                        </section>


                        <section class="span4 articles-list">
                            <h3>最新消息</h3>
                            <ul class="articles">
                                <li class="article-entry standard">
                                    <h4><a href="single.html">科大讯飞的实习生招聘是还没开始吗</a></h4>
                                    <span class="article-meta">2017-05-13 发表在 <a href="#" title="View all posts in Server &amp; Database">猿生活</a></span>
                                    <span class="like-count">66</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">使用 Javascript</a></h4>
                                    <span class="article-meta">2017-05-12 发表在 <a href="#" title="View all posts in Advanced Techniques">技术交流</a></span>
                                    <span class="like-count">18</span>
                                </li>
                                <li class="article-entry image">
                                    <h4><a href="single.html">阿里巴巴招聘</a></h4>
                                    <span class="article-meta">2017-05-12 发表在 <a href="#" title="View all posts in Designing in WordPress">招聘信息</a></span>
                                    <span class="like-count">7</span>
                                </li>
                                <li class="article-entry video">
                                    <h4><a href="single.html">网易云实习生招聘-终止于5月5日</a></h4>
                                    <span class="article-meta">2017-04-12 发表在 <a href="#" title="View all posts in WordPress Plugins">招聘信息</a></span>
                                    <span class="like-count">7</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">阿里+华为实习以拿到</a></h4>
                                    <span class="article-meta">2017-04-4<a href="#" title="View all posts in Website Dev">猿生活</a></span>
                                    <span class="like-count">15</span>
                                </li>
                                <li class="article-entry standard">
                                    <h4><a href="single.html">渣渣的春招总结</a></h4>
                                    <span class="article-meta">2017-03-13<a href="#" title="View all posts in Theme Development">猿生活</a></span>
                                    <span class="like-count">1</span>
                                </li>
                            </ul>
                        </section>
                    </div>
                </div>
                <!-- end of page content -->


                <!-- start of sidebar -->
                <aside class="span4 page-sidebar">

                    <section class="widget">
                        <div class="support-widget">
                            <h3 class="title">帮助</h3>
                            <p class="intro">需要帮助？假如你没有找到你想要的信息可以联系我们寻求帮助</p>
                        </div>
                    </section>

                    <section class="widget">
                        <div class="quick-links-widget">
                            <h3 class="title">快速 链接</h3>
                            <ul id="menu-quick-links" class="menu clearfix">
                                <li><a href="index-2.html">技术交流</a></li>
                                <li><a href="articles-list.html">资源分享</a></li>
                                <li><a href="faq.html">招聘信息</a></li>
                                <li><a href="contact.html">猿生活</a></li>
                            </ul>
                        </div>
                    </section>

                    <section class="widget">
                        <h3 class="title">公司社区</h3>
                        <div class="">
                            <button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">阿里巴巴</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">腾讯</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">百度</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">京东</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">慕课</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">蘑菇街</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">CCTV</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">华为</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">网龙</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">滴滴</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">微博</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">去哪儿</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">美团点评</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">google</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">搜狗</a></button>
							<button style="    padding: 0px 6px;font-size: 9.75px; -webkit-border-radius: 3px; -moz-border-radius: 3px;background:#FBFBFB"><a href="#" style="color:#333333;text-decoration: none">网易</a></button>
                            
                        </div>
                    </section>

                </aside>
                <!-- end of sidebar -->
            </div>
        </div>
    </div>
    <!-- End of Page Container -->
    <!--footer-->
    <div class="full__row footer">
        <div style="  display: block;margin: 0 auto; word-spacing: -0.43em;text-align: center;">
            <div class="part-10">
                <div class="col-4 footer__company__info">
                    <h1 class="logo">
                        <a href="index.html" class="logo__link">
                            <img src="static/images/logo2.png" alt="" style="width:185px;hight:30px;">
                        </a>
                    </h1>
                    <p class="footer__desc">面试官求职者打造一个求职、学习、能力提升的平台。</p>
                    <div class="footer__company__links">
                        <a href="" target="_blank"><i class="icon icon__github"></i></a>
                        <a href="" target="_blank"><i class="icon icon__twitter"></i></a>
                        <a target="_blank" class="wechat__link"><i class="icon icon__wechat"></i><div class="qrcode-wechat"></div></a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">面试官</strong>
                    <div class="links__block">
                        <a href="using.html">关于我们</a>
                    </div>
                    <div class="links__block">
                        <a href="">加入我们</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">产品</strong>
                    <div class="links__block">
                        <a href="faceto.html">面对面</a>
                    </div>
                    <div class="links__block">
                        <a href="imitate.html">视频模拟</a>
                    </div>
                    <div class="links__block">
                        <a href="tbank.html">题库<div class="icon__new"><img src="static/images/icon_new_blue.svg"></div></a>
                    </div>
                    <div class="links__block">
                        <a href="resume.html">简历制作</a>
                    </div>
                    <div class="links__block">
                        <a href="changing.html">社区交流</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">开发者</strong>
                    <div class="links__block">
                        <span>QQ群 345743741</span>
                    </div>
                    <div class="links__block">
                        <a href="tel:4006326626">电话 400 123 4567</a>
                    </div>
                </div>
                <div class="col-1 footer__language">
                    <a id="js_select_language" class="language__item" data-language="en">
                        <i class="icon icon__earth"></i>
                        <span>English</span>
                    </a>
                </div>
            </div>
            <div class="part-10">
                <div class="col-12 ipc">沪ICP备XXXXXXX号</div>
            </div>
        </div>
    </div>

    <script type='text/javascript' src='static/shequ/js/jquery-1.8.3.min.js'></script>
    <script type='text/javascript' src='static/shequ/js/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='static/shequ/js/prettyphoto/jquery.prettyPhoto.js'></script>
    <script type='text/javascript' src='static/shequ/js/jflickrfeed.js'></script>
    <script type='text/javascript' src='static/shequ/js/jquery.liveSearch.js'></script>
    <script type='text/javascript' src='static/shequ/js/jquery.form.js'></script>
    <script type='text/javascript' src='static/shequ/js/jquery.validate.min.js'></script>
    <script type='text/javascript' src='static/shequ/js/custom.js'></script>

</body>

</html>