<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>社区交流-面试官</title>


        <!-- Style Sheet-->
        <link rel="stylesheet" href="style.css" />
        <link rel='stylesheet' id='bootstrap-css-css' href='static/shequ/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='responsive-css-css' href='static/shequ/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='pretty-photo-css-css' href='static/shequ/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all'/>     
        <link rel='stylesheet' id='main-css-css' href='static/shequ/css/main5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='custom-css-css' href='static/shequ/css/custom5152.html?ver=1.0' type='text/css' media='all' />
            <link rel="stylesheet" type="text/css" href="static/CSS/nav.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->

</head>

<body>

        <!-- Start of Header -->
        {{template "little-nav.html" .}}
        <!-- Start of Page Container -->
        <div class="page-container">
                <div class="container">
                        <div class="row">

                                <!-- start of page content -->
                                <div class="span8 page-content">

                                        <!-- Basic Home Page Template -->
                                        <div class="row separator">
                                                <section class="span4 articles-list">
                                                        <h3>精选文章</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">2017秋季校园招聘笔经面经汇总</a></h4>
                                                                        <span class="article-meta">2017-05-5 发表在 <a href="#" title="View all posts in Server &amp; Database">资源分享</a></span>
                                                                        <span class="like-count">66</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">从春招到秋招，一个本科生的求职之路</a></h4>
                                                                        <span class="article-meta">2017-05-4 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">15</span>
                                                                </li>
                                                                <li class="article-entry video">
                                                                        <h4><a href="single.html">谷歌微软实习面经</a></h4>
                                                                        <span class="article-meta">2017-04-23 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">8</span>
                                                                </li>
                                                                <li class="article-entry image">
                                                                        <h4><a href="single.html">腾讯前端面经</a></h4>
                                                                        <span class="article-meta">2017-04-4 发表在 <a href="#" title="View all posts in Advanced Techniques">资源分享</a></span>
                                                                        <span class="like-count">6</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">阿里暑假实习面经</a></h4>
                                                                        <span class="article-meta">2017-03-12 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">2</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">前端的学习之路</a></h4>
                                                                        <span class="article-meta">2016-02-13 发表在 <a href="#" title="View all posts in Website Dev">技术交流</a></span>
                                                                        <span class="like-count">3</span>
                                                                </li>
                                                        </ul>
                                                </section>


                                                <section class="span4 articles-list">
                                                        <h3>最新消息</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">科大讯飞的实习生招聘是还没开始吗</a></h4>
                                                                        <span class="article-meta">2017-05-13 发表在 <a href="#" title="View all posts in Server &amp; Database">猿生活</a></span>
                                                                        <span class="like-count">66</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">使用 Javascript</a></h4>
                                                                        <span class="article-meta">2017-05-12 发表在 <a href="#" title="View all posts in Advanced Techniques">技术交流</a></span>
                                                                        <span class="like-count">18</span>
                                                                </li>
                                                                <li class="article-entry image">
                                                                        <h4><a href="single.html">阿里巴巴招聘</a></h4>
                                                                        <span class="article-meta">2017-05-12 发表在 <a href="#" title="View all posts in Designing in WordPress">招聘信息</a></span>
                                                                        <span class="like-count">7</span>
                                                                </li>
                                                                <li class="article-entry video">
                                                                        <h4><a href="single.html">网易云实习生招聘-终止于5月5日</a></h4>
                                                                        <span class="article-meta">2017-04-12 发表在 <a href="#" title="View all posts in WordPress Plugins">招聘信息</a></span>
                                                                        <span class="like-count">7</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">阿里+华为实习以拿到</a></h4>
                                                                        <span class="article-meta">2017-04-4<a href="#" title="View all posts in Website Dev">猿生活</a></span>
                                                                        <span class="like-count">15</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">渣渣的春招总结</a></h4>
                                                                        <span class="article-meta">2017-03-13<a href="#" title="View all posts in Theme Development">猿生活</a></span>
                                                                        <span class="like-count">1</span>
                                                                </li>
                                                        </ul>
                                                </section>
                                        </div>

                                        <div class="row home-category-list-area">
                                                <div class="span8">
                                                        <h2>最新技术交流</h2>
                                                </div>
                                        </div>

                                        <div class="row-fluid top-cats">

                                                <section class="span4">
                                                        <h4 class="category"><a href="#">今日头条考试</a></h4>
                                                        <div class="category-description">
                                                                <p>第一题如果你不考虑空间和时间的复杂度的题你基本上Ac不了。第二题如果你不考虑那个IO性能也是通过不了的。第三题如果不做优化代码，只是打印也是Ac不了的。第四题不知道能不能Ac，以上说的是java</p>
                                                        </div>
                                                </section>

                                                <section class="span4">
                                                        <h4 class="category"><a href="#">阿里面试一个开放性问题</a></h4>
                                                        <div class="category-description">
                                                                <p>假设淘宝商品总量为1亿，你可以通过什么方法来获得京东的商品总量。要求给出方案，估算大体数量。</p>
                                                        </div>
                                                </section>

                                                <section class="span4">
                                                        <h4 class="category"><a href="#">百度有趣的排序求解</a></h4>
                                                <div class="category-description">
                                                        <p>
                                                        题目如下：


                                                                度度熊有一个N个数的数组，他想将数组从大到小排好序，但是萌萌的度度熊只会下面这个操作： 
                                                        任取数组中的一个数然后将它放置在数组的最后一个位置。 
                                                        问最少操作多少次可以使得数组从小到大有序？ 

                                                        </p>
                                                    </div>
                                                </section>
                                        </div>
                                        <div class="row-fluid top-cats">

                                                <section class="span4">
                                                        <h4 class="category"><a href="#">请问各位牛客朋友，你们是怎么学习算法的?</a></h4>
                                                        <div class="category-description">
                                                                <p>推荐网易公开课里MIT的算法导论课程</p>
                                                        </div>
                                                </section>

                                                <section class="span4">
                                                        <h4 class="category">
                                                                <a href="#">滴滴笔试智力题，带着解药过有毒的下水道怎么做</a></h4>
                                                        <div class="category-description">
                                                                <p>一个士兵要过一个120m的有毒的下水道，身上最多只能带90个解药，每走一米需要消耗一个解药，最少需要多少解药才能成功的走过下水道
</p>
                                                        </div>
                                                </section>

                                                <section class="span4">
                                                        <h4 class="category"><a href="#">网易散招的一道算法题</a></h4>
                                                        <div class="category-description">
                                                                <p>随机生成10个10-100的数字，确保其均值为75，写出算法？</p>
                                                        </div>
                                                </section>
                                        </div>

                                </div>
                                <!-- end of page content -->


                                <!-- start of sidebar -->
                                <aside class="span4 page-sidebar">

                                        <section class="widget">
                                                <div class="support-widget">
                                                        <h3 class="title">帮助</h3>
                                                        <p class="intro">需要帮助？假如你没有找到你想要的信息可以联系我们寻求帮助</p>
                                                </div>
                                        </section>

                                        <section class="widget">
                                                <div class="quick-links-widget">
                                                        <h3 class="title">快速 链接</h3>
                                                        <ul id="menu-quick-links" class="menu clearfix">
                                                                <li><a href="index-2.html">技术交流</a></li>
                                                                <li><a href="articles-list.html">资源分享</a></li>
                                                                <li><a href="faq.html">招聘信息</a></li>
                                                                <li><a href="contact.html">猿生活</a></li>
                                                        </ul>
                                                </div>
                                        </section>


                                        <section class="widget">
                                                <h3 class="title">公司社区</h3>
                                                <div class="tagcloud">
                                                        <a href="#" class="btn btn-mini">阿里巴巴</a>
                                                        <a href="#" class="btn btn-mini">腾讯</a>
                                                        <a href="#" class="btn btn-mini">百度</a>
                                                        <a href="#" class="btn btn-mini">京东</a>
                                                        <a href="#" class="btn btn-mini">网易</a>
                                                        <a href="#" class="btn btn-mini">google</a>
                                                        <a href="#" class="btn btn-mini">搜狗</a>
                                                        <a href="#" class="btn btn-mini">美团点评</a>
                                                        <a href="#" class="btn btn-mini">去哪儿</a>
                                                        <a href="#" class="btn btn-mini">微博</a>
                                                        <a href="#" class="btn btn-mini">滴滴</a>
                                                        <a href="#" class="btn btn-mini">今日头条</a>
                                                        <a href="#" class="btn btn-mini">网龙</a>
                                                        <a href="#" class="btn btn-mini">华为</a>
                                                        <a href="#" class="btn btn-mini">CCTV</a>
                                                        <a href="#" class="btn btn-mini">蘑菇街</a>
                                                        <a href="#" class="btn btn-mini">糯米</a>
                                                        <a href="#" class="btn btn-mini">慕课</a>
                                                        <a href="#" class="btn btn-mini">新浪</a>
                                                </div>
                                        </section>

                                </aside>
                                <!-- end of sidebar -->
                        </div>
                </div>
        </div>
        <!-- End of Page Container -->
<div class="full__row footer">
        <div style="  display: block;margin: 0 auto; word-spacing: -0.43em;text-align: center;">
            <div class="part-10">
                <div class="col-4 footer__company__info">
                    <h1 class="logo">
                        <a href="index.html" class="logo__link">
                            <img src="static/images/logo2.png" alt="" style="width:185px;hight:30px;">
                        </a>
                    </h1>
                    <p class="footer__desc">面试官求职者打造一个求职、学习、能力提升的平台。</p>
                    <div class="footer__company__links">
                        <a href="" target="_blank"><i class="icon icon__github"></i></a>
                        <a href="" target="_blank"><i class="icon icon__twitter"></i></a>
                        <a target="_blank" class="wechat__link"><i class="icon icon__wechat"></i><div class="qrcode-wechat"></div></a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">面试官</strong>
                    <div class="links__block">
                        <a href="using.html">关于我们</a>
                    </div>
                    <div class="links__block">
                        <a href="">加入我们</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">产品</strong>
                    <div class="links__block">
                        <a href="faceto.html">面对面</a>
                    </div>
                    <div class="links__block">
                        <a href="imitate.html">视频模拟</a>
                    </div>
                    <div class="links__block">
                        <a href="tbank.html">题库<div class="icon__new"><img src="static/images/icon_new_blue.svg"></div></a>
                    </div>
                    <div class="links__block">
                        <a href="resume.html">简历制作</a>
                    </div>
                    <div class="links__block">
                        <a href="changing.html">社区交流</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">开发者</strong>
                    <div class="links__block">
                        <span>QQ群 345743741</span>
                    </div>
                    <div class="links__block">
                        <a href="tel:4006326626">电话 400 123 4567</a>
                    </div>
                </div>
                <div class="col-1 footer__language">
                    <a id="js_select_language" class="language__item" data-language="en">
                        <i class="icon icon__earth"></i>
                        <span>English</span>
                    </a>
                </div>
            </div>
            <div class="part-10">
                <div class="col-12 ipc">沪ICP备XXXXXXX号</div>
            </div>
        </div>
    </div>

        
       
        <script type='text/javascript' src='static/shequ/js/jquery-1.8.3.min.js'></script>
        <script type='text/javascript' src='static/shequ/js/jquery.easing.1.3.js'></script>
        <script type='text/javascript' src='static/shequ/js/prettyphoto/jquery.prettyPhoto.js'></script>
        <script type='text/javascript' src='static/shequ/js/jflickrfeed.js'></script>
        <script type='text/javascript' src='static/shequ/js/jquery.liveSearch.js'></script>
        <script type='text/javascript' src='static/shequ/js/jquery.form.js'></script>
        <script type='text/javascript' src='static/shequ/js/jquery.validate.min.js'></script>
        <script type='text/javascript' src='static/shequ/js/custom.js'></script>

</body>

</html>