<!doctype html>

<html lang="en-US">
<!--<![endif]-->

<head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>社区交流-面试官</title>


        <!-- Style Sheet-->
        <link rel="stylesheet" href="style.css" />
        <link rel='stylesheet' id='bootstrap-css-css' href='static/shequ/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='responsive-css-css' href='static/shequ/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='pretty-photo-css-css' href='static/shequ/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
        <link rel='stylesheet' id='main-css-css' href='static/shequ/css/main5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='custom-css-css' href='static/shequ/css/custom5152.html?ver=1.0' type='text/css' media='all' />
        <link rel="stylesheet" type="text/css" href="static/CSS/nav.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->

</head>

<body>

        <!-- Start of Header -->
        {{template "little-nav.html" .}}

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                               <article class=" page type-page hentry clearfix">
                                                        <h1 class="post-title"><a href="#">程序猿的生活</a></h1>
                                                        <hr>
                                                        <p>&nbsp;&nbsp;&nbsp;&nbsp;由于互联网的发展，越来越多优秀的人加入其中，原来对程序员那个经典的形象大有改观，
                                                                现在好多程序员都还挺注重自己的穿着打扮，而且现在加入其中的人好多人也有自己
                                                                擅长的才艺，不完全是屌丝大叔，下面就是他们的日常...</p>
                                                                
                                                </article>
												
												<div class="faqs clearfix">

                                                        <article class="faq-item active">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">解决大家住房问题！</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>
                                                                        因为找房一直都是大家一直存在的问题，有的可能现在有需求，有的可能之后有需求~
                                                                        给大家找到了去年整理的北京和上海的住房，重要的是如果你有转租，找室友/合租，求租等等的需求都可以发帖并在此帖下面标注，也能让更多人看到~~大家也好相互交流沟通~
                                                                       <p> 以下最好是用手机看~</p>
                                                                        <p>北京：<a href="http://i.eqxiu.com/s/aE7580mB?plg_nld=1&eqrcode=1&plg_uin=1&plg_auth=1&plg_usr=1&plg_dev=1&plg_vkey=1&plg_nld=1&from=singlemessage&isappinstalled=1">
                                                                        http://i.eqxiu.com/s/aE7580mB?plg_nld=1&eqrcode=1&plg_uin=1&pl
                                                                        g_auth=1&plg_usr=1&plg_dev=1&plg_vkey=1&plg_nld=1&from=single
                                                                        message&isappinstalled=1 </a></p>
                                                                        <p>上海：<a href="http://x.eqxiu.com/s/S3HyuFws?plg_nld=1&eqrcode=1&plg_uin=1&plg_auth=1&plg_usr=1&plg_dev=1&plg_vkey=1&plg_nld=1&from=singlemessage&isappinstalled=1">
                                                                        http://x.eqxiu.com/s/S3HyuFws?plg_nld=1&eqrcode=1&plg_uin=1&p
                                                                        lg_auth=1&plg_usr=1&plg_dev=1&plg_vkey=1&plg_nld=1&from=singl
                                                                        emessage&isappinstalled=1 </a> </p>                                                                      
                                                                </div>
                                                        </article>
														 <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">吐槽一下人人</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>第一批投的人人，笔试编程题三道全部AC。没收到面试通知，</p>
                                                                        <p>没收到被拒通知。第一批的大家Offer都拿了，官网还给我这个状态。</p>
                                                                        <p>有人说人人看学校刷人，那为啥让我参加笔试阿。服气。</p>                                                                   
                                                                </div>
                                                        </article>
														<article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">B格真高的好未来！</a>
                                                                </h3>
                                                                <div class="faq-answer" style="display: none;">
                                                                        <p>一个星期前我做了好未来的笔试题目，选择+算法。
                                                                                题目真简单，没有不会的，今天居然收到拒绝邮件：
                                                                         您的能力还有待提高您还需要学习，欢迎下秋季校园招聘！
                                                                                逼格比阿里还高。算了，不说了，我水平太菜，我还是去阿里实习吧。</p>
                                                                </div>
                                                        </article>
<article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#"> 今天入职华为，随机岗~~~</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>20多个人入职，本来以为大家做Java的一起。。结果一个人分一个部门
                                                                </div>
                                                        </article>

                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">关于暑期面试，大家都怎么和自己导师说的呀，好怕老师不让走</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>
                                                                             算是意外的惊喜，拿到蚂蚁的实习生offer，可是，又怕导师不让走。之前，实验室的两个同学打算换导师直博，无奈自己导师是博导，为这个事情，导师对我们一直心怀不满。已经上升到不诚信的地步。我很怕我和他一说，他要爆炸！要怎么说才比较好呢？有没有什么好办法？ 
                                                                                </p>
                                                                </div>
                                                        </article>

                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">求滴滴c++的视频面面经</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>有大佬面过滴滴c 视频面的可否分享点经验，本来看着别人都视频两面结束了，我都不抱希望了，
                                                                                突然今天下午来电话让后天下午面试。希望有面过的大佬前来指导指导。
                                                                        </p>
                                                                </div>
                                                        </article>
                                                        
                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">书上学的，与别人交流所学，亲自敲代码所学是不一样的感受！</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>想要真正学好，一定要动手敲代码！！！！
                                                                        代码敲的多了，自然就会记住很多东西
                                                                        </p>
                                                                </div>
                                                        </article>
                                                        
                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">去哪儿网问题解答</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>去年秋招的时候也在牛客里帮着解答了一些问题，这几天不太忙。
                                                                                看好多同学都收到春招的口头offer了。可以帮着解答一些问题。So,问题砸过来吧！
                                                                        </p>
                                                                </div>
                                                        </article>
                                                        
                                                        <article class="faq-item">
                                                                <span class="faq-icon"></span>
                                                                <h3 class="faq-question">
                                                                        <a href="#">找实习，七连跪，好难。有点儿厌倦了</a>
                                                                </h3>
                                                                <div class="faq-answer">
                                                                        <p>网易（一面卒），阿里（二面后没消息了），
                                                                         腾讯（二面卒），360（笔试挂），CVTE（二面卒），
                                                                        Bigo（二面卒）,华为（一面卒，感觉答得挺好的）。
                                                                         怎么办啊？哎。。。都不想学习了最近
                                                                        </p>
                                                                </div>
                                                        </article>
                                                </div>

                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">

                                                 <section class="widget"><h3 class="title">专栏</h3>
                                                        <ul>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">每日话题</a> </li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">牛人访谈</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">技术聚焦</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">编程之美</a></li>              
                                                        </ul>
                                                </section>



                                                <section class="widget">
                                                        <h3 class="title">特色文章</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">从春招到秋招，一个本科生的求职之路</a></h4>
                                                                        <span class="article-meta">2017-05-4 发表在 <a href="#" title="View all posts in Server &amp; Database">资源分享</a></span>
                                                                        <span class="like-count">66</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">学习编程之路的必备书籍之javascrip篇</a></h4>
                                                                        <span class="article-meta">2017-4-25 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">15</span>
                                                                </li>
                                                                <li class="article-entry video">
                                                                        <h4><a href="single.html">读书值推荐《DOM编程艺术》</a></h4>
                                                                        <span class="article-meta">20-17-3-23 发表在<a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">8</span>
                                                                </li>
                                                                <li class="article-entry image">
                                                                        <h4><a href="single.html">2017届互联网名企校招网址一览表</a></h4>
                                                                        <span class="article-meta">2017-2-12 发表在 <a href="#" title="View all posts in Advanced Techniques">招聘信息</a></span>
                                                                        <span class="like-count">6</span>
                                                                </li>
                                                        </ul>
                                                </section>

                                                <section class="widget">
                                                <h3 class="title">公司社区</h3>
                                                <div class="tagcloud">
                                                        <a href="#" class="btn btn-mini">阿里巴巴</a>
                                                        <a href="#" class="btn btn-mini">腾讯</a>
                                                        <a href="#" class="btn btn-mini">百度</a>
                                                        <a href="#" class="btn btn-mini">京东</a>
                                                        <a href="#" class="btn btn-mini">网易</a>
                                                        <a href="#" class="btn btn-mini">google</a>
                                                        <a href="#" class="btn btn-mini">搜狗</a>
                                                        <a href="#" class="btn btn-mini">美团点评</a>
                                                        <a href="#" class="btn btn-mini">去哪儿</a>
                                                        <a href="#" class="btn btn-mini">微博</a>
                                                        <a href="#" class="btn btn-mini">滴滴</a>
                                                        <a href="#" class="btn btn-mini">今日头条</a>
                                                        <a href="#" class="btn btn-mini">网龙</a>
                                                        <a href="#" class="btn btn-mini">华为</a>
                                                        <a href="#" class="btn btn-mini">CCTV</a>
                                                        <a href="#" class="btn btn-mini">蘑菇街</a>
                                                        <a href="#" class="btn btn-mini">糯米</a>
                                                        <a href="#" class="btn btn-mini">慕课</a>
                                                        <a href="#" class="btn btn-mini">新浪</a>
                                                </div>
                                        </section>

                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->
<div class="full__row footer">
        <div style="  display: block;margin: 0 auto; word-spacing: -0.43em;text-align: center;">
            <div class="part-10">
                <div class="col-4 footer__company__info">
                    <h1 class="logo">
                        <a href="index.html" class="logo__link">
                            <img src="static/images/logo2.png" alt="" style="width:185px;hight:30px;">
                        </a>
                    </h1>
                    <p class="footer__desc">面试官求职者打造一个求职、学习、能力提升的平台。</p>
                    <div class="footer__company__links">
                        <a href="" target="_blank"><i class="icon icon__github"></i></a>
                        <a href="" target="_blank"><i class="icon icon__twitter"></i></a>
                        <a target="_blank" class="wechat__link"><i class="icon icon__wechat"></i><div class="qrcode-wechat"></div></a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">面试官</strong>
                    <div class="links__block">
                        <a href="using.html">关于我们</a>
                    </div>
                    <div class="links__block">
                        <a href="">加入我们</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">产品</strong>
                    <div class="links__block">
                        <a href="faceto.html">面对面</a>
                    </div>
                    <div class="links__block">
                        <a href="imitate.html">视频模拟</a>
                    </div>
                    <div class="links__block">
                        <a href="tbank.html">题库<div class="icon__new"><img src="static/images/icon_new_blue.svg"></div></a>
                    </div>
                    <div class="links__block">
                        <a href="resume.html">简历制作</a>
                    </div>
                    <div class="links__block">
                        <a href="changing.html">社区交流</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">开发者</strong>
                    <div class="links__block">
                        <span>QQ群 345743741</span>
                    </div>
                    <div class="links__block">
                        <a href="tel:4006326626">电话 400 123 4567</a>
                    </div>
                </div>
                <div class="col-1 footer__language">
                    <a id="js_select_language" class="language__item" data-language="en">
                        <i class="icon icon__earth"></i>
                        <span>English</span>
                    </a>
                </div>
            </div>
            <div class="part-10">
                <div class="col-12 ipc">沪ICP备XXXXXXX号</div>
            </div>
        </div>
    </div>

        
                <!-- script -->
                <script type='text/javascript' src='static/shequ/js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='static/shequ/js/prettyphoto/jquery.prettyPhoto.js'></script>
                <script type='text/javascript' src='static/shequ/js/jflickrfeed.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.form.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.validate.min.js'></script>
                <script type='text/javascript' src='static/shequ/js/custom.js'></script>

        </body>
</html>

