<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>简历制作-面试官</title>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="static/CSS/style-index.css">
    <link rel="stylesheet" type="text/css" href="static/CSS/style-news.css">
    <link rel="stylesheet" type="text/css" href="static/CSS/style-aos.css">
</head>

<body data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="100" rlt="1">
    <div class="video__show" style="height:750px; width:100%;overflow:hidden;">
        <div class="header__box">
        <div class="header">
            <div class="header__inneer">
                <h1 class="logo">
                    <a href="/" class="logo__link">MSG</a>
                </h1>
				 
                <nav class="nav" id="js_nav">
				<div class="fold__menu__box">
                        <a href="/face" class="fold__menu has__sub_nav " id="js_fold_menu" >面对面</a>
                        <div class="fold__menu__items hide" style="display: none;">
                            <a href="/use">使用指南</a>
                        </div>
						<a href="/video" class="fold__menu ">视频模拟</a>
                    <a href="/tbank" class="fold__menu">题库</a>
                    <a href="/resume" class="fold__menu" style="color:#06B1D1">简历制作<div class="icon__new"><img src="static/images/icon_new_blue.svg"></div></a>
                    <a href="/shequ-1" class="fold__menu">社区交流</a>
                    </div>
                    
                </nav>
                <div class="login__gruop">
                    <div class="login__box btn btn__border-gradient">
                        <span>
                                <a href="/logi">登录</a> 
                                <a href="/sign">注册</a>
                            </span>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
	

        <i class="icon icon__menu" id="js_menu"></i>
        <svg width="1121px" style="position: absolute; display: block; left: 227.781px; top: 40px;" id="js_video_circle" height="1121px" viewBox="289 240 1121 1121" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Circles" opacity="0.5" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(290.000000, 241.000000)">
                <path d="M559,794.275464 C688.386766,794.275464 793.275464,689.386766 793.275464,560 C793.275464,430.613234 688.386766,325.724536 559,325.724536 C429.613234,325.724536 324.724536,430.613234 324.724536,560" id="circle_3" stroke="#FFFFFF" stroke-width="2" transform="translate(559.000000, 560.000000) rotate(-330.000000) translate(-559.000000, -560.000000) "></path>
                <path d="M336.619228,784.868578 C460.810715,909.060065 662.164899,909.060065 786.356385,784.868578 C910.547872,660.677092 910.547872,459.322908 786.356385,335.131422 C662.164899,210.939935 460.810715,210.939935 336.619228,335.131422" id="circle_5" stroke="#FFFFFF" stroke-width="2" opacity="0.300000012"></path>
                <path d="M393.236749,464.74367 C340.221758,556.568328 371.68321,673.984063 463.507867,726.999054 C555.332525,780.014045 672.74826,748.552594 725.763251,656.727936 C778.778242,564.903278 747.31679,447.487543 655.492133,394.472552" id="circle_2" stroke="#FFFFFF" stroke-width="2"></path>
                <ellipse id="circle_1" stroke="#FFFFFF" stroke-width="2" cx="560" cy="561" rx="148" ry="148"></ellipse>
                <ellipse id="circle_7" stroke="#FFFFFF" stroke-width="2" opacity="0.200000018" transform="translate(559.500000, 559.500000) rotate(-240.000000) translate(-559.500000, -559.500000) " cx="559.5" cy="559.5" rx="408.924464" ry="408.924464"></ellipse>
                <ellipse id="circle_6" stroke="#FFFFFF" stroke-width="2" opacity="0.299999982" transform="translate(560.500000, 560.500000) rotate(-15.000000) translate(-560.500000, -560.500000) " cx="560.5" cy="560.5" rx="362.5" ry="362.5"></ellipse>
                <path d="M799.761885,699.74717 C876.372209,567.054196 830.908239,397.380347 698.215264,320.770022 C565.522289,244.159697 395.84844,289.623668 319.238115,422.316643 C242.627791,555.009618 288.091761,724.683467 420.784736,801.293791" id="circle_4" stroke="#FFFFFF" stroke-width="2" opacity="0.400000006"></path>
                </g>
            </svg>
        <div class="container audio__show row__valign">
            <div class="col-6 valign">
                <div class="el__center-480">
                    <h2>简单的操作步骤，体验优秀的简历制作过程</h2>
                    <p class="audio__show__desc">无需绞尽脑汁另外设计，只需要将内容一步步填写上去就可以了</p>
                    <p><a href="/jl                                    " class="btn btn__white">立即制作</a></p>
                </div>
            </div>
            <div class="col-6 valign">
                <div class="audio__show__media">
                    <img src="static/images/resume.jpg" class="audio__show__large aos-init aos-animate" data-aos="fade-left" alt="">
                    
                </div>
            </div>
        </div>
    </div>
    {{template "tpl-footer.html" .}}
    
    

</body>

</html>