<!doctype html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>    <html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->

<head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>社区交流-面试官</title>


        <!-- Style Sheet-->
        <link rel="stylesheet" href="style.css" />
        <link rel='stylesheet' id='bootstrap-css-css' href='static/shequ/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='responsive-css-css' href='static/shequcss/responsive5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='pretty-photo-css-css' href='static/shequjs/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all'
        />
        <link rel='stylesheet' id='main-css-css' href='static/shequ/css/main5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='custom-css-css' href='static/shequ/css/custom5152.html?ver=1.0' type='text/css' media='all' />


        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->

</head>

<body>

        <!-- Start of Header -->
          

                <!-- Start of Page Container -->
                <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 page-content">

                                                <ul class="breadcrumb">
                                                        <li><a href="/shequ-1">首页</a><span class="divider">/</span></li>
                                                        <li><a href="/shequ-1" title="View all posts in Server &amp; Database">社区全部</a> <span class="divider">/</span></li>
                                                        <li class="active">从春招到秋招，一个本科生的求职之路</li>
                                                </ul>

                                                <article class=" type-post format-standard hentry clearfix">

                                                        <h1 class="post-title"><a href="#">从春招到秋招，一个本科生的求职之路</a></h1>

                                                        <div class="post-meta clearfix">
                                                                <span class="date">2017-05-4</span>
                                                                <span class="category"><a href="#" title="View all posts in Server &amp; Database">资源分享</a></span>
                                                                <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">3 评论</a></span>
                                                                <span class="like-count">66</span>
                                                        </div><!-- end of post meta -->

                                                        <p>从大一开始，就决定毕业找工作，方向是有了，但是三年多过去了，到现在才发现，大学期间并没有为这个方向做出太大的努力，这也成为我一个本科生找工作的很大障碍，实践能力严重不足。我的情况是：我决定工作，但是由于高中的思维，太看重学习成绩，成绩搞的很好，虽然有保研资格，但是又不读研，找工作的时候，好的互联网公司不看成绩，看能力，所以大厂的笔面试都挂掉了。现在反思过后，给学弟学妹一点建议，如果你打算读研，搞好成绩保研是最轻松的。如果你想工作，多实践，多写项目，多去开源社区fork别人的项目，多动手，找到自己的兴趣所在，并深入研究。我的一个同学，毕业根本不需要找工作，很多公司来抢着要他，技术大牛！如果你想出国，英语方面多积累总是没错的，多说多记。 </p>

                                                        <h3>春招过程</h3>

                                                        <p>因为有就业打算，暑期准备实习，所以大三下学期就去参加春招了，基本从3月份开始，各大厂就开始春招实习生了，
                                                           但是由于没有经验，没有准备，吃了太多的亏：
                                                        当时课程项目做网站，对web开发熟悉，于是网易就报了前端实习生
                                                          ，结果笔试直接就挂掉，考的全是html+css；腾讯笔试挂，编程题不会；阿里笔试挂，连题都看不懂；百度一面挂
                                                          ，基础知识太弱，问啥啥不会。
                                                        给学弟学妹的建议：既然已经决定找暑期实习，那么就好好好准备春招，操作系统、
                                                          计算机网络、数据库、算法和数据结构等基础知识一定要掌握扎实！有出色项目经验更好，但大部分本科生来说没有，
                                                          所以面试官也更看重你的基础知识掌握程度。
                                                         另外在投递实习公司的时候，最好问清楚转正几率大不大；想好自己准
                                                          备从事的行业，金融、教育、互联网、游戏等等，找到一份自己毕业准备从事的行业公司去实习，不然就像LZ一样，实
                                                          习完才反应过来自己想喜欢游戏，然后秋招的时候发现不同岗位的实习经历也不会给你加太多分。</p>

                                                        <h3>暑期实习</h3>

                                                        <p><img class="alignright size-full wp-image-115" alt="Man" src="static/shequ/images/man1.jpg" width="250" height="250">春招的尾巴拿到了华为的软件开发实习offer，7月初到本研所实习，入职时才发现被调剂了岗位，有点坑。实习期间很轻松，但是最后由于行业和方向不喜欢放弃了转正offer。两个月实习的收获：更加清楚了未来自己要从事什么行业，什么方向，你的职业规划，这对于一个毕业生来说十分重要！！因为全栈大神不是人人都能做到，公司需要专才，并且对自已的职业生涯有清楚认识的人。我是准备先从游戏c++客户端程序员干起，在项目中熟悉各个分工的任务内容和工作流程，积累经验，然后向项目、产品和管理方面发展。因为你一个刚毕业的本科生，啥也不会，怎么可能一去公司就去做管理，让你管人家你管的了吗，必须把一个项目的每个流程走几遍，熟悉了之后才行。所以学弟学妹一定要找准自己的位置，行业-》方向-》职位-》职业规划。之前参加几个偏国企的群面，很多人被问到你想从事哪个方向的开发，都因为太想得到offer说我做这个也行，做那个也行，实在不行做那个也行，看公司需要吧。我个人认为，如果你这样说公司把你招了，这种公司不去也罢，你未来能有什么成长和发展！</p>

                                                        <h3>秋招心酸路程</h3>

                                                        <p>

                                                                好事多磨！好事多磨！好事多磨！ 
                                                                9月底从华为离职，然后放弃学校的保研名额，各位可以想象当时LZ是多么的自信和年轻，之后就是秋招开始了，各种宣讲会笔试面试蜂拥而来，各种撞车，各种一天来回跑，参加过秋招的同学应该都有体会，真的很过瘾！说下我的情况，我到10月下旬时，还是0offer。从最开始的自信满满，到笔试挂掉，面试挂掉，看到别人收offer，看到别人谈薪资，心态真的爆炸坏了，有时候晚上跑完宣讲会坐在回学校的公交车上，看着窗外繁华的夜景，过来过往的人群，很是迷茫和感伤。国庆期间我的心态爆炸到极点，书也看不进去，天天肝阴阳师，打屁股，都不想找工作了。但是我还是熬了过来，重新拾起信心，投身到新一波的跑宣讲会和笔面试中！这中间的心理变化和成长我觉得对我个人而言太宝贵了！然后这周开始，我陆续收到了一个游戏公司和一个半国企的两个offer，其中游戏公司的薪资远远超出我的预期，非常满意！爆炸满意！我在收到第一个offer的前一天，还奔波在各种笔面试之间！结合自己的经历，给学弟学妹的建议：好好准备编程题，因为如果是在线笔试，一般都是大公司，你不能AK的话3道至少也要AC两道吧，不然前边客观题答得再好，作为一个程序员不会写代码要你干嘛；项目经验一定要准备好，没有经验的话看看别人都是怎么准备项目的，之前看了牛客上一个情商爆炸的哥们的面试准备，那叫一个牛，项目的展开，如何引导面试官向自己擅长的方向提问等等，不服不行；另外如果编程能力确实不行的话，去跑宣讲会的线下笔试，一般会稍微简单一些（LZ的offer都是线下笔试）；多总结，每次笔面试后想一想遇到的问题你真的会了吗，不会赶紧补习，因为下一场真的会遇到一模一样的题目（LZ遇到好几次一样的题目，然后好几次不会，后来才每个都认真总结，复习）。</p>

                                                       
                                                       
                                                       
                                                        <h3>感悟</h3>

                                                        <p><img class="alignleft size-full wp-image-115" alt="Man" src="static/shequ/images/man2.jpg" width="250" height="250">上
                                                        面的经验是根据每个阶段反思后得出的，最后说一下总的思路（个人看法，辩证对待）：</p>







                                                        <ol>
                                                                <li>赶紧找到自己的毕业去向，工作、读研、出国、公务员等</li>
                                                                <li>如果是毕业准备工作的话，大学期间多动手，专业知识掌握扎实的同时，多动手，多写代码，找到自己的兴趣所在，深入研究</li>
                                                                <li>想好自己将来要从事的行业，方向，未来几年的职业规划</li>
                                                                <li>大三暑假找一份有意义！！的实习，通过实习感受理想与现实的不同，直接转正更好，秋招时也会是你的加分项</li>
                                                                <li>秋招复习基础知识，多编程，别眼高手低，好好准备项目，学学 如何引导面试官， 能力不行多跑宣讲会的线下笔试</li>
                                                                <li>一定不要放弃，不要灰心，天生我材必有用！坚持住！好事多磨！最后祝大家前程似锦！</li>
                                                        </ol>

                                                </article>

                                                <div class="like-btn">

                                                        <form id="like-it-form" action="#" method="post">
                                                                <span class="like-it ">66</span>
                                                                <input type="hidden" name="post_id" value="99">
                                                                <input type="hidden" name="action" value="like_it">
                                                        </form>

                                                        <span class="tags">
                                                                <strong>标签:&nbsp;&nbsp;</strong><a href="#" rel="tag">定位</a>, <a href="#" rel="tag">基础</a>, <a href="http://knowledgebase.inspirythemes.com/tag/website/" rel="tag">深入</a>
                                                        </span>

                                                </div>

                                                <section id="comments">
                                                        <h3 id="comments-title">评论</h3>
                                                        <ol class="commentlist">
                                                                <li class="comment even thread-even depth-1" id="li-comment-2">
                                                                        <article id="comment-2">

                                                                                <a href="#">
                                                                                        <img alt="" src="static/shequ/images/tx1.jpg" class="avatar avatar-60 photo" height="60" width="60">
                                                                                </a>

                                                                                <div class="comment-meta">

                                                                                        <h5 class="author">
                                                                                                <cite class="fn">
                                                                                                        <a href="#" rel="external nofollow" class="url">微光</a>
                                                                                                </cite>
                                                                                                - <a class="comment-reply-link" href="#">回复</a>
                                                                                        </h5>

                                                                                        <p class="date">
                                                                                                <a href="#">
                                                                                                        <time datetime="2017-02-13 13:18:49">2017-02-13 13:18:49</time>
                                                                                                </a>
                                                                                        </p>

                                                                                </div><!-- end .comment-meta -->

                                                                                <div class="comment-body">
                                                                                        <p>楼主简直太赞了，受益匪浅，谢谢啦</p>
                                                                                </div><!-- end of comment-body -->

                                                                        </article><!-- end of comment -->

                                                                        <ul class="children">

                                                                                <li class="comment byuser comment-author-saqib-sarwar bypostauthor odd alt depth-2" id="li-comment-3">
                                                                                        <article id="comment-3">

                                                                                                <a href="#">
                                                                                                        <img alt="" src="static/shequ/images/tx2.jpg" class="avatar avatar-60 photo" height="60" width="60">
                                                                                                </a>

                                                                                                <div class="comment-meta">

                                                                                                        <h5 class="author">
                                                                                                                <cite class="fn">帕布尔</cite>
                                                                                                                - <a class="comment-reply-link" href="#">回复</a>
                                                                                                        </h5>

                                                                                                        <p class="date">
                                                                                                                <a href="#">
                                                                                                                        <time datetime="2016-12-23 14：23：34">2016-12-23 14：23：34</time>
                                                                                                                </a>
                                                                                                        </p>

                                                                                                </div><!-- end .comment-meta -->

                                                                                                <div class="comment-body">
                                                                                                        <p>楼主的经历可谓是精彩啊，分享给我们的东西很细，很棒的大哥</p>
                                                                                                </div><!-- end of comment-body -->

                                                                                        </article><!-- end of comment -->

                                                                                </li>
                                                                        </ul>
                                                                </li>

                                                                <li class="comment even thread-odd thread-alt depth-1" id="li-comment-4">
                                                                        <article id="comment-4">

                                                                                <a href="#">
                                                                                        <img alt="" src="static/shequ/images/tx3.jpg" class="avatar avatar-60 photo" height="60" width="60">
                                                                                </a>

                                                                                <div class="comment-meta">

                                                                                        <h5 class="author">
                                                                                                <cite class="fn"><a href="#" rel="external nofollow" class="url">玉树临风</a></cite>
                                                                                                - <a class="comment-reply-link" href="#">回复</a>
                                                                                        </h5>

                                                                                        <p class="date">
                                                                                                <a href="#">
                                                                                                        <time datetime="2016-10-23 15:24:46">2016-10-23 15:24:46</time>
                                                                                                </a>
                                                                                        </p>

                                                                                </div><!-- end .comment-meta -->

                                                                                <div class="comment-body">
                                                                                        <p>还有一年多就要毕业了，大三上即将结束，才发现本科阶段真的挥霍了....看到这篇挺有感触，希望楼主给一份笔记 819651792@qq.com</p>
                                                                                </div><!-- end of comment-body -->

                                                                        </article><!-- end of comment -->
                                                                </li>
                                                        </ol>

                                                        <div id="respond">

                                                                <h3>留下你的评论</h3>

                                                                <div class="cancel-comment-reply">
                                                                        <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click here to cancel reply.</a>
                                                                </div>


                                                                <form action="#" method="post" id="commentform">


                                                                        <p class="comment-notes">您的电子邮件地址将不会公布.必填字段标记 <span class="required">*</span></p>

                                                                        <div>
                                                                                <label for="author">姓名 *</label>
                                                                                <input class="span4" type="text" name="author" id="author" value="" size="22">
                                                                        </div>

                                                                        <div>
                                                                                <label for="email">电子邮件 *</label>
                                                                                <input class="span4" type="text" name="email" id="email" value="" size="22" >
                                                                        </div>
                                                                        <div>
                                                                                <label for="comment">评论</label>
                                                                                <textarea class="span8" name="comment" id="comment" cols="58" rows="10"></textarea>
                                                                        </div>

                                                                        <p class="allowed-tags">可以使用HTML标签和属性 <small><code>&lt;<a href="" ></code></small></p>

                                                                        <div>
                                                                                <input class="btn" name="submit" type="submit" id="submit"  value="发表评论">
                                                                        </div>

                                                                </form>

                                                        </div>

                                                </section><!-- end of comments -->

                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">
                                                 <section class="widget">
                                                        <div class="support-widget">
                                                                <h3 class="title">帮助</h3>
                                                                <p class="intro">需要帮助？假如你没有找到你想要的信息可以联系我们寻求帮助</p>
                                                        </div>
                                                </section>

                                                <section class="widget"><h3 class="title">专栏</h3>
                                                        <ul>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">每日话题</a> </li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">牛人访谈</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">技术聚焦</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">编程之美</a></li>              
                                                        </ul>
                                                </section>



                                                <section class="widget">
                                                        <h3 class="title">特色文章</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">从春招到秋招，一个本科生的求职之路</a></h4>
                                                                        <span class="article-meta">2017-05-4 发表在 <a href="#" title="View all posts in Server &amp; Database">资源分享</a></span>
                                                                        <span class="like-count">66</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">学习编程之路的必备书籍之javascrip篇</a></h4>
                                                                        <span class="article-meta">2017-4-25 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">15</span>
                                                                </li>
                                                                <li class="article-entry video">
                                                                        <h4><a href="single.html">读书值推荐《DOM编程艺术》</a></h4>
                                                                        <span class="article-meta">20-17-3-23 发表在<a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">8</span>
                                                                </li>
                                                                <li class="article-entry image">
                                                                        <h4><a href="single.html">2017届互联网名企校招网址一览表</a></h4>
                                                                        <span class="article-meta">2017-2-12 发表在 <a href="#" title="View all posts in Advanced Techniques">招聘信息</a></span>
                                                                        <span class="like-count">6</span>
                                                                </li>
                                                        </ul>
                                                </section>

                                                <section class="widget">
                                                        <h3 class="title">最新短评</h3>
                                                        <ul id="recentcomments">
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">未参加过面试怎么讲“你的面试流程和经验教训”</a>-----<a href="#">腾讯</a></li>
                                                                <li class="recentcomments"><a>感觉网易的东西比较良心，好感很高。</a>-----<a href="#">网易</a></li>
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">需要软件背景，做些小项目</a>-----<a href="#">招聘信息</a></li>
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">仍需努力</a>-----<a href="#">校招</a></li>
                                                        </ul>
                                                </section>

                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->

             

                <!-- script -->
                <script type='text/javascript' src='static/shequ/js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='static/shequ/js/prettyphoto/jquery.prettyPhoto.js'></script>
                <script type='text/javascript' src='static/shequ/js/jflickrfeed.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.form.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.validate.min.js'></script>
                <script type='text/javascript' src='static/shequ/js/custom.js'></script>

        </body>
</html>
