 <div class="full__row footer" >
        <div  style="  display: block;margin: 0 auto; word-spacing: -0.43em;text-align: center;">
            <div class="part-10">
                <div class="col-4 footer__company__info">
                    <h1 class="logo">
                        <a href="index.html" class="logo__link">
                            <img src="static/images/logo2.png" alt="" style="width:185px;hight:30px;">
                        </a>
                    </h1>
                    <p class="footer__desc">面试官求职者打造一个求职、学习、能力提升的平台。</p>
                    <div class="footer__company__links">
                        <a href="" target="_blank"><i class="icon icon__github"></i></a>
                        <a href="" target="_blank"><i class="icon icon__twitter"></i></a>
                        <a target="_blank" class="wechat__link"><i class="icon icon__wechat"></i><div class="qrcode-wechat"></div></a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">面试官</strong>
                    <div class="links__block">
                        <a href="using.html">关于我们</a>
                    </div>
                    <div class="links__block">
                        <a href="">加入我们</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">产品</strong>
                    <div class="links__block">
                        <a href="faceto.html">面对面</a>
                    </div>
                    <div class="links__block">
                        <a href="imitate.html">视频模拟</a>
                    </div>
                    <div class="links__block">
                        <a href="tbank.html">题库<div class="icon__new"><img src="static/images/icon_new_blue.svg"></div></a>
                    </div>
                    <div class="links__block">
                        <a href="resume.html">简历制作</a>
                    </div>
                    <div class="links__block">
                        <a href="changing.html">社区交流</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">开发者</strong>
                    <div class="links__block">
                        <span>QQ群 345743741</span>
                    </div>
                    <div class="links__block">
                        <a href="tel:4006326626">电话 400 123 4567</a>
                    </div>
                </div>
                <div class="col-1 footer__language">
                    <strong class="footer__links__title"><a href="http://127.0.0.1:3001">后台</a></strong>
                </div>
            </div>
            <div class="part-10">
                <div class="col-12 ipc">沪ICP备XXXXXXX号</div>
            </div>
        </div>
    </div>