<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>面试官首页</title>
    <link rel="stylesheet" type="text/css" href="static/assets/css/video.css">

    <link rel="stylesheet" type="text/css" href="static/CSS/style-index.css">

</head>

<body data-aos-easing="ease" data-aos-duration="1200" data-aos-delay="100" rlt="1">
     {{template "tpl-nav.html" .}}

    <div role="main" class="main">
        <div class="filter">
            <em class="filterName"></em>
            <a class="all selected" href="#">所有</a>
            <a class="video " href="#">视频题库</a>
            <a class="audio" href="#">音频视频</a>
			
        </div>
	     
        <div class="postExcerpts">
            <div class="postExcerpt video">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>请你自我介绍一下？</h2><br>
                        <em class="cat">Video</em>
                    </div>

                    <div class="container-box-large" style="border:none;margin-left:20px!important;margin-right:0px;">
                        <video src="static/audio/video1.mp4" controls width="220px" height="150px"></video>
                        <button class="filter" style="border:none;background:#F5F5F5;" ><a href="http://127.0.0.1:3000/video-recorder.html">视频录制</a></button>
                    </div>

                </div>


            </div>


            <div class="postExcerpt audio">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>JavaScript的数据类型有哪些？</h2> <br>
                        <em class="cat">Audio</em>
                    </div>
                    <div class="audioPlayer">
                        <audio>
                                <source src="static/audio/audio4.mp3" type="audio/mpeg">
                       
                            </audio>
                        <a class="playAudio" href="#">Play</a>
                        <div class="progressBarWrap">
                            <div class="progressBar"></div>
                        </div>
                        <a class="mute" href="#">Mute</a>
                        <div class="soundBarWrap">
                            <div class="soundBar"></div>
                        </div>
						 
                    </div>
        <button class="filter" style="border:none;background:#464646;margin-top:9em" ><a href="http://127.0.0.1:3000/audio-recorder.html">音频录制</a></button>
                </div>
		
            </div>
			
            <div class="postExcerpt video">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>HTML的事件绑定有几种方式？</h2> <br>
                        <em class="cat">Video</em>
                    </div>
                    <div class="container-box-large" style="border:none;margin-left:20px!important;margin-right:0px;">
                        <video src="static/audio/video3.mp4" controls width="220px" height="150px"></video>
                         <button class="filter" style="border:none;background:#F5F5F5;" ><a href="http://127.0.0.1:3000/video-recorder.html">视频录制</a></button>
                    </div>
                </div>
            </div>


            <div class="postExcerpt audio">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>你觉得你个性上最大的有点是什么？</h2> <br>
                        <em class="cat">Audio</em>
                    </div>
                    <div class="audioPlayer">
                        <audio>
                                <source src="static/audio/audio2.mp3" type="audio/mpeg">
                           
                            </audio>
                        <a class="playAudio" href="#">Play</a>
                        <div class="progressBarWrap">
                            <div class="progressBar"></div>
                        </div>
                        <a class="mute" href="#">Mute</a>
                        <div class="soundBarWrap">
                            <div class="soundBar"></div>
                        </div>
						<button class="filter" style="border:none;background:#464646;margin-top:6em" ><a href="http://127.0.0.1:3000/audio-recorder.html">音频录制</a></button>
                    </div>
                </div>
            </div>
            <div class="postExcerpt video">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>Consectetuer adipiscing elit. Lorem ipsum dolor sit amet, sed am nonummy nibh euismod tincidunut laoreet dolore magna alim erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit.</h2>
                        <em class="cat">Video</em>
                    </div>
                    <div class="container-box-large" style="border:none;margin-left:20px!important;margin-right:0px;">
                        <video src="static/audio/video3.mp4" controls width="220px" height="150px"></video>
                        <button class="filter" style="border:none;background:#F5F5F5;" ><a href="http://127.0.0.1:3000/video-recorder.html">视频录制</a></button>
                    </div>
                </div>
            </div>


            <div class="postExcerpt audio">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>谈谈你对跳槽的看法？</h2> <br>
                        <em class="cat">Audio</em>
                    </div>
                    <div class="audioPlayer">
                        <audio>
                                <source src="static/audio/audio1.mp3" type="audio/mpeg">
                               
                            </audio>
                        <a class="playAudio" href="#">Play</a>
                        <div class="progressBarWrap">
                            <div class="progressBar"></div>
                        </div>
                        <a class="mute" href="#">Mute</a>
                        <div class="soundBarWrap">
                            <div class="soundBar"></div>
                        </div>
                        <button class="filter" style="border:none;background:#464646;margin-top:6em" ><a href="http://127.0.0.1:3000/audio-recorder.html">音频录制</a></button>
                    </div>
                </div>
            </div>
            <div class="postExcerpt video">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>你怎么理解你应聘的职位？</h2> <br>
                        <em class="cat">Video</em>
                    </div>
                    <div class="container-box-large" style="border:none;margin-left:20px!important;margin-right:0px;">
                        <video src="static/audio/video4.mp4" controls width="220px" height="150px"></video>
						<button class="filter" style="border:none;background:#F5F5F5;" ><a href="http://127.0.0.1:3000/video-recorder.html">视频录制</a></button>
                    </div>
                </div>
            </div>


            <div class="postExcerpt audio">
                <div class="postExcerptInner">
                    <div class="titleAndCat">
                        <h2>Consectetuer adipiscing elit adipiscing elit adipiscing elit adipiscing elit</h2>
                        <em class="cat">Audio</em>
                    </div>
                    <div class="audioPlayer">
                        <audio>
                                <source src="static/audio/audio4.mp3" type="audio/mpeg">
                              
                            </audio>
                        <a class="playAudio" href="#">Play</a>
                        <div class="progressBarWrap">
                            <div class="progressBar"></div>
                        </div>
                        <a class="mute" href="#">Mute</a>
                        <div class="soundBarWrap">
                            <div class="soundBar"></div>
                        </div>
						<button class="filter" style="border:none;background:#464646;margin-top:6em" ><a href="http://127.0.0.1:3000/audio-recorder.html">音频录制</a></button>
                    </div>
                </div>
            </div>
        </div>
	  <span class="up-btn" id="selectFile" >上传自己的文件</span> 
	 <input type="button" value="上传"/>   
     <input type="file" name="fileupload"/>
		
    </div>
     
     {{template "tpl-footer.html" .}}
    <script src="static/assets/js/audioPlayer.js"></script>
    <script src="static/assets/js/sort.js"></script>
	
    <script src="static/JS/jquery.min.js"></script>
    	<script>
        jQuery('#selectFile').live('click', function() {
            var ie = !-[1, ];
            if (ie) {
                jQuery('input:file').trigger('click').trigger('change');
            } else {
                jQuery('input:file').trigger('click');
            }

        });
        jQuery('input:file').change(function() {
            //dosomthing  
        });
    </script>
</body>

</html>