<!doctype html>

<html lang="en-US">
<!--<![endif]-->

<head>
        <!-- META TAGS -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>社区交流-面试官</title>


        <!-- Style Sheet-->
        <link rel="stylesheet" href="style.css" />
        <link rel='stylesheet' id='bootstrap-css-css' href='static/shequ/css/bootstrap5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='responsive-css-css' href='static/shequ/css/responsive5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='pretty-photo-css-css' href='static/shequ/js/prettyphoto/prettyPhotoaeb9.css?ver=3.1.4' type='text/css' media='all' />
        <link rel='stylesheet' id='main-css-css' href='static/shequ/css/main5152.css?ver=1.0' type='text/css' media='all' />
        <link rel='stylesheet' id='custom-css-css' href='static/shequ/css/custom5152.html?ver=1.0' type='text/css' media='all' />
        <link rel="stylesheet" type="text/css" href="static/CSS/nav.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                <script src="js/html5.js"></script></script>
                <![endif]-->

</head>

<body>

        <!-- Start of Header -->
        {{template "little-nav.html" .}}

                <!-- Start of Page Container -->
              <div class="page-container">
                        <div class="container">
                                <div class="row">

                                        <!-- start of page content -->
                                        <div class="span8 main-listing">

                                                <article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="single.html">【兼职实习信息实时汇总帖（3月3日更新）】</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">2017-03-3</span>
                                                                        <span class="category"><a href="#" title="View all posts in Server &amp; Database">招聘信息</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Integrating WordPress with Your Website">3 评论</a></span>
                                                                        <span class="like-count">66</span>
                                                                </div><!-- end of post meta -->

                                                        </header>
                                                                <p>美悦科技iOS 开发实习生<a href="https://www.nowcoder.com/recommend-intern/77?jobId=531">https://www.nowcoder.com/recommend-intern/77?jobId=531</a></p>                                                      
                                                                <p>联想研究院计算机视觉实习生<a href="https://www.nowcoder.com/recommend-intern/8?jobId=530">https://www.nowcoder.com/recommend-intern/8?jobId=530</a></p>
                                                                <p>搜狗自然语言处理实习生<a href="https://www.nowcoder.com/recommend-intern/11?jobId=529">https://www.nowcoder.com/recommend-intern/8?jobId=530</a></p>                                                        
                                                                <p>今日头条web前端实习生<a href="https://www.nowcoder.com/recommend-intern/42?jobId=528">https://www.nowcoder.com/recommend-intern/42?jobId=528</a></p>                                                               
                                                </article>

                                                <article class="format-standard type-post hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="single.html">好未来2017暑期实习生内推</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">2017-03-1</span>
                                                                        <span class="category"><a href="#" title="View all posts in Advanced Techniques">招聘信息</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Using Javascript">6 评论</a></span>
                                                                        <span class="like-count">18</span>
                                                                </div><!-- end of post meta -->

                                                        </header>
                                                                  <p>好未来2017暑期实习生内推</p> 
                                                                <p>『基本要求』：本科及以上学历（18/19届在读），计算机相关专业 </p>
                                                                <p>『招聘岗位』：研发实习生</p>
                                                                <p>『工作内容』：1、服务器端开发、部署；2、数据爬取、处理、分析；3、机器学习（文本搜索、图像识别）</p> 
                                                                <p>『薪资范围』：日薪200-300元，节日福利，提供丰盛晚餐</p> 
                                                                <p>『面试流程』：笔试+面试，面试当天产出offer；</p> 
                                                                <p>『培训机制』：好未来对于技术人才培养采用导师制，每位入职的实习生都会有一位导师， 
                                                               导师由公司资深工程师担任。 同时公司定期举办技术沙龙，拥有与集团CTO直接面谈机会！</p> 
                                                                <p>『技术产品团队简介』：好未未来目前技术产品人才2000名左右，基本来自于一线互联网公 
                                                                司。技术VP为前百度技术委员会主席，另有多位百度T7级别以上的技术经理在好未来任职。</p> 

                                                                『投递方式』：发送简历到zhaopin_100tal@163.com，邮件主题为：姓名+学校+专业+毕业时间+联系方式，邮件内容为100字以内的自我介绍，请以第三人称介绍自己。 </p>
                                                            

                                                </article>

                                                <article class=" type-post format-image hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="single.html">今天头条 招聘 最后三天</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">2017-2-23</span>
                                                                        <span class="category"><a href="#" title="View all posts in Designing in WordPress">招聘信息</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Using Images">4 评论</a></span>
                                                                        <span class="like-count">7</span>
                                                                </div><!-- end of post meta -->

                                                        </header>

                                                        <a href="#" title="Using Images"><img width="300" height="200" src="images/other.jpg" class="attachment-std-thumbnail wp-post-image" alt="Living room"></a>
                                                        <p>
                                                                <p><h5>今日头条春季校园招聘火热进行中！</h5></p> 
                                                                <p>【面向对象】：2017 年应届毕业生和 2018 年应届暑期实习生</p>
                                                                <p>【职位方向】：研发、产品、运营、销售、投资、HR 等 </p>
                                                                <p>【春季招聘 - 2017 届】：<a href="https://job.toutiao.com/campus/spring">https://job.toutiao.com/campus/spring </a></p>                               
                                                                <p>【暑期实习 - 2018 届】：<a href="https://job.toutiao.com/campus/summer">https://job.toutiao.com/campus/summer</a></p>
                                                                <p>【投递时间】：3 月 9 日 - 4 月 30 日 
                                                                <p>【头条邀请码】：ZKAK0I

                                                </article>

                                                <article class="type-post  format-video hentry clearfix">

                                                        <header class="clearfix">

                                                                <h3 class="post-title">
                                                                        <a href="single.html">百度-互联网数据研发部</a>
                                                                </h3>

                                                                <div class="post-meta clearfix">
                                                                        <span class="date">2017-02-12</span>
                                                                        <span class="category"><a href="#" title="View all posts in WordPress Plugins">招聘信息</a></span>
                                                                        <span class="comments"><a href="#" title="Comment on Using Video">2 评论</a></span>
                                                                        <span class="like-count">7</span>
                                                                </div><!-- end of post meta -->

                                                        </header>                                                      
                                                        <p>
                                                                <p><h5>职位要求：</h5></p> 
                                                                <p>-熟悉Linux/Unix平台上的C/C++/shell编程，熟悉网络编程、多线程编程</p> 
                                                                <p>-具备优秀的逻辑思维能力，对解决挑战性问题充满热情，善于解决问题和分析问题 </p>
                                                                <p>-有强烈的上进心和求知欲，善于学习新事物，渴望用技术改变未来  -良好的团队合作精神，较强的沟通能力和学习能力</p>                                               
                                                                <p>工作地点：北京市</p>                                                     
                                                                <p>招聘人数： 若干    </p>                                                           
                                                                <p>职位类别：技术  </p>                                                             
                                                                <p>招聘负责人：sunquan@baidu.com</p>
                                                                <p>我把经理邮箱放着里了 </p>

                                                </article>

                                                
                                                <div id="pagination">
                                                        <a href="#" class="btn active">1</a>
                                                        <a href="#" class="btn">2</a>
                                                        <a href="#" class="btn">3</a>
                                                        <a href="#" class="btn">Next »</a>
                                                        <a href="#" class="btn">Last »</a>
                                                </div>

                                        </div>
                                        <!-- end of page content -->


                                        <!-- start of sidebar -->
                                        <aside class="span4 page-sidebar">

                                                <section class="widget">
                                                        <div class="support-widget">
                                                                <h3 class="title">帮助</h3>
                                                                <p class="intro">需要帮助？假如你没有找到你想要的信息可以联系我们寻求帮助</p>
                                                        </div>
                                                </section>

                                               <section class="widget"><h3 class="title">专栏</h3>
                                                        <ul>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">每日话题</a> </li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">牛人访谈</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet,">技术聚焦</a></li>
                                                                <li><a href="#" title="Lorem ipsum dolor sit amet, ">编程之美</a></li>              
                                                        </ul>
                                                </section>



                                                <section class="widget">
                                                        <h3 class="title">特色文章</h3>
                                                        <ul class="articles">
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">从春招到秋招，一个本科生的求职之路</a></h4>
                                                                        <span class="article-meta">2017-05-4 发表在 <a href="#" title="View all posts in Server &amp; Database">资源分享</a></span>
                                                                        <span class="like-count">66</span>
                                                                </li>
                                                                <li class="article-entry standard">
                                                                        <h4><a href="single.html">学习编程之路的必备书籍之javascrip篇</a></h4>
                                                                        <span class="article-meta">2017-4-25 发表在 <a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">15</span>
                                                                </li>
                                                                <li class="article-entry video">
                                                                        <h4><a href="single.html">读书值推荐《DOM编程艺术》</a></h4>
                                                                        <span class="article-meta">20-17-3-23 发表在<a href="#" title="View all posts in Website Dev">资源分享</a></span>
                                                                        <span class="like-count">8</span>
                                                                </li>
                                                                <li class="article-entry image">
                                                                        <h4><a href="single.html">2017届互联网名企校招网址一览表</a></h4>
                                                                        <span class="article-meta">2017-2-12 发表在 <a href="#" title="View all posts in Advanced Techniques">招聘信息</a></span>
                                                                        <span class="like-count">6</span>
                                                                </li>
                                                        </ul>
                                                </section>

                                                <section class="widget">
                                                        <h3 class="title">最新短评</h3>
                                                        <ul id="recentcomments">
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">未参加过面试怎么讲“你的面试流程和经验教训”</a>-----<a href="#">腾讯</a></li>
                                                                <li class="recentcomments"><a>感觉网易的东西比较良心，好感很高。</a>-----<a href="#">网易</a></li>
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">需要软件背景，做些小项目</a>-----<a href="#">招聘信息</a></li>
                                                                <li class="recentcomments"><a href="#" rel="external nofollow" class="url">仍需努力</a>-----<a href="#">校招</a></li>
                                                        </ul>
                                                </section>

                                        </aside>
                                        <!-- end of sidebar -->
                                </div>
                        </div>
                </div>
                <!-- End of Page Container -->
<div class="full__row footer">
        <div style="  display: block;margin: 0 auto; word-spacing: -0.43em;text-align: center;">
            <div class="part-10">
                <div class="col-4 footer__company__info">
                    <h1 class="logo">
                        <a href="index.html" class="logo__link">
                            <img src="static/images/logo2.png" alt="" style="width:185px;hight:30px;">
                        </a>
                    </h1>
                    <p class="footer__desc">面试官求职者打造一个求职、学习、能力提升的平台。</p>
                    <div class="footer__company__links">
                        <a href="" target="_blank"><i class="icon icon__github"></i></a>
                        <a href="" target="_blank"><i class="icon icon__twitter"></i></a>
                        <a target="_blank" class="wechat__link"><i class="icon icon__wechat"></i><div class="qrcode-wechat"></div></a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">面试官</strong>
                    <div class="links__block">
                        <a href="using.html">关于我们</a>
                    </div>
                    <div class="links__block">
                        <a href="">加入我们</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">产品</strong>
                    <div class="links__block">
                        <a href="faceto.html">面对面</a>
                    </div>
                    <div class="links__block">
                        <a href="imitate.html">视频模拟</a>
                    </div>
                    <div class="links__block">
                        <a href="tbank.html">题库<div class="icon__new"><img src="static/images/icon_new_blue.svg"></div></a>
                    </div>
                    <div class="links__block">
                        <a href="resume.html">简历制作</a>
                    </div>
                    <div class="links__block">
                        <a href="changing.html">社区交流</a>
                    </div>
                </div>
                <div class="col-2 footer__links__block">
                    <strong class="footer__links__title">开发者</strong>
                    <div class="links__block">
                        <span>QQ群 345743741</span>
                    </div>
                    <div class="links__block">
                        <a href="tel:4006326626">电话 400 123 4567</a>
                    </div>
                </div>
                <div class="col-1 footer__language">
                    <a id="js_select_language" class="language__item" data-language="en">
                        <i class="icon icon__earth"></i>
                        <span>English</span>
                    </a>
                </div>
            </div>
            <div class="part-10">
                <div class="col-12 ipc">沪ICP备XXXXXXX号</div>
            </div>
        </div>
    </div>

        
                <!-- script -->
                <script type='text/javascript' src='static/shequ/js/jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.easing.1.3.js'></script>
                <script type='text/javascript' src='static/shequ/js/prettyphoto/jquery.prettyPhoto.js'></script>
                <script type='text/javascript' src='static/shequ/js/jflickrfeed.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.liveSearch.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.form.js'></script>
                <script type='text/javascript' src='static/shequ/js/jquery.validate.min.js'></script>
                <script type='text/javascript' src='static/shequ/js/custom.js'></script>

        </body>
</html>

